
h1 {
    color: darkblue;
    font-size: 36px;
}


p {
    color: gray;
    font-size: 18px;
}


.destacado {
    color: green;
    font-size: 22px;
}


#importante {
    color: darkred;
    font-size: 24px;
}